[submodule "Vulkan-Docs"]
	path = Vulkan-Docs
	url = https://github.com/KhronosGroup/Vulkan-Docs.git
[submodule "Vulkan"]
	path = Vulkan
	url = https://github.com/SaschaWillems/Vulkan.git
[submodule "vkcpp"]
	path = vkcpp
	url = https://github.com/nvpro-pipeline/vkcpp.git
[submodule "IntroductionToVulkan"]
	path = IntroductionToVulkan
	url = https://github.com/GameTechDev/IntroductionToVulkan.git
[submodule "android-vulkan-tutorials"]
	path = android-vulkan-tutorials
	url = https://github.com/googlesamples/android-vulkan-tutorials.git
[submodule "vulkan-basic-samples"]
	path = vulkan-basic-samples
	url = https://github.com/googlesamples/vulkan-basic-samples.git
